/.idea/
/vendor/
/composer.phar
/phpunit.phar
/doc2rst.phar
/.phpunit.result.cache
/application/LICENSE
/application/logs/
/application/Psr/
/application/README.md
/docs/d2r-conf.php
/docs/d2r-order.php
/docs/d2r-styles.txt
/docs/_build/
/docs/make.bat
/docs/Makefile
/docs/_static/
/notes/
/test_dump/

